<div class="student-container">
    <div class="header">
        <div>
            <h2>Students</h2>
            <p>Registered Students</p>
        </div>
        <button class="add-btn">
            + Add Student
        </button>
    </div>

    <div class="student-grid">
        @for (student of students$ | async; track student.email) {
            <div class="student-card">
                <div class="student-avatar">
                    {{ student.name.charAt(0).toUpperCase() }}
                </div>

                <div class="student-details">
                    <h3>{{student.name}}</h3>
                    <p class="email"> {{ student.email }}</p>
                    <p class="age">{{ student.age }}</p>
                </div>
            </div>
        }
    </div>
</div>

<button type="button" routerLink="/registerStudent">Go to Student Registration</button>